.click-animation {
  transition: all 0.3s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.click-animation:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.click-animation:active {
  transform: scale(0.9);
}

.click-animation.times {
  border: 0px solid transparent;
  border-radius: 50%;
}

.click-animation.times:hover {
  background: red;
}
